@using MongoDB.Driver
@using MongoDB.Wrapper.Abstractions
@using MongoDB.Driver.Linq
@using ProjectManager.Models.Entities
@inject IMongoDb _mongo

<span>@_name</span>

@code {
	[Parameter, EditorRequired]
	public Guid StoryId { get; set; }

	string? _name;
	
	protected override async Task OnInitializedAsync()
	{
		_name = await _mongo.Query<Story>().Where(_ => _.Id == StoryId).Select(_ => _.Name).FirstOrDefaultAsync();
	}

}